:root {
  --nextra-primary-hue: 340;
  --nextra-primary-saturation: 100%;
  --nextra-primary-lightness: 71%;
}

.dark {
  --nextra-primary-hue: 340;
  --nextra-primary-saturation: 100%;
  --nextra-primary-lightness: 71%;
}

a {
  color: hsl(
    var(--nextra-primary-hue),
    var(--nextra-primary-saturation),
    var(--nextra-primary-lightness)
  ) !important;
}

button[class*="primary"] {
  background-color: transparent !important;
}

[data-theme-toggle] {
  background-color: transparent !important;
}

[data-theme-toggle]:hover {
  background-color: transparent !important;
}

.nx-flex.nx-gap-1.nx-mt-4 button {
  background-color: transparent !important;
}

.nx-flex.nx-gap-1.nx-mt-4 button:hover {
  background-color: transparent !important;
}
